openapi: 3.2.0
info:
  title: Request Human API Memories API
  version: 1.0.0
servers:
- url: https://app.band.ai
  description: https://app.band.ai
tags:
- name: humanApiMemories
paths:
  /api/v1/me/memories/{id}:
    get:
      operationId: getUserMemory
      summary: Get a specific memory
      description: Retrieves a specific memory by ID if accessible to the user.
      tags:
      - humanApiMemories
      parameters:
      - name: id
        in: path
        description: Memory ID
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Memory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Human_API_Memories_getUserMemory_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteUserMemory
      summary: Delete a memory
      description: 'Permanently deletes a memory. This is a hard delete - the memory cannot be recovered.


        Users can only delete memories that are about them (subject_id = user).'
      tags:
      - humanApiMemories
      parameters:
      - name: id
        in: path
        description: Memory ID
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/me/memories/{id}/supersede:
    post:
      operationId: supersedeUserMemory
      summary: Supersede a memory
      description: 'Marks a memory as superseded (soft delete). Use when info is outdated/incorrect.

        The memory remains for audit trail but won''t appear in normal queries.


        Users can only supersede memories that are about them (subject_id = user).'
      tags:
      - humanApiMemories
      parameters:
      - name: id
        in: path
        description: Memory ID
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Superseded Memory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Human_API_Memories_supersedeUserMemory_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/me/memories/{id}/archive:
    post:
      operationId: archiveUserMemory
      summary: Archive a memory
      description: 'Archives a memory (hides but preserves). Archived memories can be restored later.


        Users can only archive memories that are about them (subject_id = user).'
      tags:
      - humanApiMemories
      parameters:
      - name: id
        in: path
        description: Memory ID
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Archived Memory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Human_API_Memories_archiveUserMemory_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/me/memories/{id}/restore:
    post:
      operationId: restoreUserMemory
      summary: Restore a memory
      description: 'Restores an archived memory back to active status.

        Only works on memories with status ''archived''.


        Users can only restore memories that are about them (subject_id = user).'
      tags:
      - humanApiMemories
      parameters:
      - name: id
        in: path
        description: Memory ID
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Restored Memory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Human_API_Memories_restoreUserMemory_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/me/memories:
    get:
      operationId: listUserMemories
      summary: List memories for current user
      description: 'Lists memories accessible to the authenticated user:

        - Memories about the user (subject_id = user''s UUID)

        - Organization-scoped memories in the user''s organization

        - Optionally filter by chat room to see room-level memories


        Unlike agents, users can see memories from ALL agents in their organization

        that are about them or in rooms they participate in.


        **Pagination:** Use `cursor` + `limit` (recommended) OR `page` + `page_size` (deprecated, sunset 2026-10-01).

        Do NOT mix families.'
      tags:
      - humanApiMemories
      parameters:
      - name: cursor
        in: query
        description: Opaque cursor for keyset pagination
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Max results per request (1-100, default 20)
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: Page number (offset pagination) - DEPRECATED
        required: false
        schema:
          type: integer
      - name: chat_room_id
        in: query
        description: Filter by chat room ID
        required: false
        schema:
          type: string
      - name: scope
        in: query
        description: 'Filter scope: about_me, organization, room, all'
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: Filter by memory system
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filter by memory type
        required: false
        schema:
          type: string
      - name: segment
        in: query
        description: Filter by segment
        required: false
        schema:
          type: string
      - name: content_query
        in: query
        description: Full-text search query
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Number of results per page (max 50) - DEPRECATED
        required: false
        schema:
          type: integer
      - name: status
        in: query
        description: 'Filter by status: active, superseded, archived, or all'
        required: false
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User Memories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Human_API_Memories_listUserMemories_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Invalid pagination params (invalid/unsupported cursor, or mixed cursor + offset families)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorErrorDetails:
      type: object
      properties: {}
      description: Additional error details (optional)
      title: ErrorErrorDetails
    Human_API_Memories_getUserMemory_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserMemory'
      title: Human API/Memories_getUserMemory_Response_200
    Human_API_Memories_supersedeUserMemory_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserMemory'
      title: Human API/Memories_supersedeUserMemory_Response_200
    UserMemoryStatus:
      type: string
      enum:
      - active
      - superseded
      - archived
      description: Memory lifecycle status
      title: UserMemoryStatus
    Human_API_Memories_restoreUserMemory_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserMemory'
      title: Human API/Memories_restoreUserMemory_Response_200
    ErrorError:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        details:
          $ref: '#/components/schemas/ErrorErrorDetails'
          description: Additional error details (optional)
        message:
          type: string
          description: Human-readable error message
        request_id:
          type: string
          description: Unique request identifier for tracing and debugging
      required:
      - code
      - message
      - request_id
      title: ErrorError
    UserMemorySystem:
      type: string
      enum:
      - sensory
      - working
      - long_term
      description: Memory system tier
      title: UserMemorySystem
    ApiV1MeMemoriesGetResponsesContentApplicationJsonSchemaMeta:
      type: object
      properties:
        has_more:
          type: boolean
          description: Whether more results exist beyond this page (cursor pagination)
        limit:
          type: integer
          description: Max results requested (cursor pagination)
        next_cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page; null when there are no more results (cursor pagination)
        page:
          type: integer
          description: Current page number (offset pagination)
        page_size:
          type: integer
          description: Number of results per page (offset pagination)
        total_count:
          type: integer
          description: Total number of matching memories (offset pagination)
        total_pages:
          type: integer
          description: Total number of pages (offset pagination)
      description: Pagination metadata (cursor fields on the keyset path, offset fields on the deprecated path)
      title: ApiV1MeMemoriesGetResponsesContentApplicationJsonSchemaMeta
    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorError'
      required:
      - error
      description: Standard error response with request ID for tracing
      title: Error
    Human_API_Memories_listUserMemories_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserMemory'
        meta:
          $ref: '#/components/schemas/ApiV1MeMemoriesGetResponsesContentApplicationJsonSchemaMeta'
          description: Pagination metadata (cursor fields on the keyset path, offset fields on the deprecated path)
        metadata:
          $ref: '#/components/schemas/ApiV1MeMemoriesGetResponsesContentApplicationJsonSchemaMetadata'
          description: Pagination metadata (cursor fields on the keyset path, offset fields on the deprecated path)
      title: Human API/Memories_listUserMemories_Response_200
    UserMemoryMetadata:
      type: object
      properties: {}
      description: Additional metadata
      title: UserMemoryMetadata
    ApiV1MeMemoriesGetResponsesContentApplicationJsonSchemaMetadata:
      type: object
      properties:
        has_more:
          type: boolean
          description: Whether more results exist beyond this page (cursor pagination)
        limit:
          type: integer
          description: Max results requested (cursor pagination)
        next_cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page; null when there are no more results (cursor pagination)
        page:
          type: integer
          description: Current page number (offset pagination)
        page_size:
          type: integer
          description: Number of results per page (offset pagination)
        total_count:
          type: integer
          description: Total number of matching memories (offset pagination)
        total_pages:
          type: integer
          description: Total number of pages (offset pagination)
      description: Pagination metadata (cursor fields on the keyset path, offset fields on the deprecated path)
      title: ApiV1MeMemoriesGetResponsesContentApplicationJsonSchemaMetadata
    UserMemoryType:
      type: string
      enum:
      - iconic
      - echoic
      - haptic
      - episodic
      - semantic
      - procedural
      description: Memory type within the system
      title: UserMemoryType
    UserMemorySegment:
      type: string
      enum:
      - user
      - agent
      - tool
      - guideline
      description: Logical segment of the memory
      title: UserMemorySegment
    UserMemory:
      type: object
      properties:
        chat_room_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Chat room where memory was created (if applicable)
        content:
          type: string
          description: The memory content
        id:
          type: string
          format: uuid
          description: Memory ID
        inserted_at:
          type: string
          format: date-time
          description: When the memory was created
        metadata:
          oneOf:
          - $ref: '#/components/schemas/UserMemoryMetadata'
          - type: 'null'
          description: Additional metadata
        organization_id:
          type: string
          format: uuid
          description: Organization this memory belongs to
        scope:
          $ref: '#/components/schemas/UserMemoryScope'
          description: Visibility scope of the memory
        segment:
          $ref: '#/components/schemas/UserMemorySegment'
          description: Logical segment of the memory
        source_agent_id:
          type: string
          format: uuid
          description: UUID of the agent that stored this memory
        status:
          $ref: '#/components/schemas/UserMemoryStatus'
          description: Memory lifecycle status
        subject_id:
          type:
          - string
          - 'null'
          format: uuid
          description: UUID of the subject this memory is about
        system:
          $ref: '#/components/schemas/UserMemorySystem'
          description: Memory system tier
        thought:
          type:
          - string
          - 'null'
          description: Agent's reasoning for storing this memory
        type:
          $ref: '#/components/schemas/UserMemoryType'
          description: Memory type within the system
      required:
      - content
      - id
      - inserted_at
      - scope
      - segment
      - system
      - type
      description: A memory entry visible to the user
      title: UserMemory
    Human_API_Memories_archiveUserMemory_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserMemory'
      title: Human API/Memories_archiveUserMemory_Response_200
    UserMemoryScope:
      type: string
      enum:
      - subject
      - organization
      description: Visibility scope of the memory
      title: UserMemoryScope
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enter your API key for programmatic access
    bearerAuth:
      type: http
      scheme: bearer
      description: Enter your JWT token (without the 'Bearer ' prefix)
