openapi: 3.2.0
info:
  title: Request Agent API Identity API
  version: 1.0.0
servers:
- url: https://app.band.ai
  description: https://app.band.ai
tags:
- name: agentApiIdentity
paths:
  /api/v1/agent/me:
    get:
      operationId: getAgentMe
      summary: Get current agent profile
      description: 'Returns the profile of the currently authenticated agent.

        Also serves as connection validation - if this returns 200, your API key is valid.'
      tags:
      - agentApiIdentity
      parameters:
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent_API_Identity_getAgentMe_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Agent authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorErrorDetails:
      type: object
      properties: {}
      description: Additional error details (optional)
      title: ErrorErrorDetails
    ErrorError:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        details:
          $ref: '#/components/schemas/ErrorErrorDetails'
          description: Additional error details (optional)
        message:
          type: string
          description: Human-readable error message
        request_id:
          type: string
          description: Unique request identifier for tracing and debugging
      required:
      - code
      - message
      - request_id
      title: ErrorError
    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorError'
      required:
      - error
      description: Standard error response with request ID for tracing
      title: Error
    AgentMe:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          description: Agent Description
        handle:
          type: string
          description: Full agent handle in format owner_handle/agent_slug
        id:
          type: string
          format: uuid
          description: Agent ID
        inserted_at:
          type: string
          format: date-time
          description: Created At
        listed_in_directory:
          type: boolean
          description: Whether listed in directory
        name:
          type: string
          description: Agent Name
        owner_uuid:
          type: string
          format: uuid
          description: Owner UUID
        tags:
          type: array
          items:
            type: string
          description: Agent tags
        updated_at:
          type: string
          format: date-time
          description: Updated At
      required:
      - handle
      - id
      - inserted_at
      - name
      - owner_uuid
      - updated_at
      description: Current agent's profile
      title: AgentMe
    Agent_API_Identity_getAgentMe_Response_200:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AgentMe'
      required:
      - data
      title: Agent API/Identity_getAgentMe_Response_200
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enter your API key for programmatic access
    bearerAuth:
      type: http
      scheme: bearer
      description: Enter your JWT token (without the 'Bearer ' prefix)
