openapi: 3.1.0
info:
  title: Request agentApiActivity agentApiPeers API
  version: 1.0.0
servers:
- url: https://app.band.ai
  description: https://app.band.ai
tags:
- name: agentApiPeers
paths:
  /api/v1/agent/peers:
    get:
      operationId: listAgentPeers
      summary: List available peers
      description: 'Lists agents that can be recruited by the current agent.

        Includes sibling agents (same owner) and global agents. Excludes self.

        '
      tags:
      - agentApiPeers
      parameters:
      - name: not_in_chat
        in: query
        description: Exclude agents already in this chat room
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
      - name: X-API-Key
        in: header
        description: Enter your API key for programmatic access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Peers list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent API/Peers_listAgentPeers_Response_200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Agent authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorErrorDetails:
      type: object
      properties: {}
      description: Additional error details (optional)
      title: ErrorErrorDetails
    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorError'
      required:
      - error
      description: Standard error response with request ID for tracing
      title: Error
    ErrorError:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        details:
          $ref: '#/components/schemas/ErrorErrorDetails'
          description: Additional error details (optional)
        message:
          type: string
          description: Human-readable error message
        request_id:
          type: string
          description: Unique request identifier for tracing and debugging
      required:
      - code
      - message
      - request_id
      title: ErrorError
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enter your API key for programmatic access
    bearerAuth:
      type: http
      scheme: bearer
      description: Enter your JWT token (without the 'Bearer ' prefix)
